# Docker volumes
.docker/volumes

# Environment variables
.env

# Misc
.DS_Store
.idea

# Ignore all logfiles and tempfiles.
/ror/log/*
/ror/tmp/*
!/ror/log/.keep
!/ror/tmp/.keep

# Ignore uploaded files in development.
/ror/storage/*
!/ror/storage/.keep

/ror/public/assets
/ror/.byebug_history

# Ignore master key for decrypting credentials and more.
/ror/config/master.key

# /public/packs
/ror/public/packs-test
/ror/node_modules
/ror/yarn-error.log
/ror/yarn-debug.log*
/ror/.yarn-integrity